.hdr-container {
  color: rgb(188, 98, 98);
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: end;
  margin: 20px;
  height: 150px;
}

.heading {
  color: rgb(146, 45, 45);
  font-weight: 900;
  font-size: 20px;
  width: 100px;
  margin: 20px;
}

.port {
  background-color: rgb(0, 0, 0);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

* {
  margin: 0;
  padding: 0;
}

.navbar {
  padding: 50px;
}


@media (max-width: 991px) {
  .navbar-nav {
    flex-direction: column !important;
    align-items: center;
    background-color: rgb(0, 0, 0);
    padding: 10px 0;
  }

  .nav-link {
    padding: 10px;
  }

  .navbar {
    padding: 20px;
  }

  .navbar-collapse {
    background-color: rgb(0, 0, 0);
  }
}

.navbar-nav .nav-link:hover {
  color: rgb(219, 234, 7) !important;
}

