.hding{
    display:flex;
    justify-content:center;
    font-size: xx-large;
    font-weight:800;
    padding-top:20px;
}

.card{
    height:350px;
    width:300px;
    border:2px solid black;
    padding:10px;
    background-color: rgb(4, 4, 4);
    position:static;
    text-align:center;
    color:white;
    margin:20px;
    margin-bottom: 50px;
}

.cards{
    display:flex;
    flex-direction:row;
    gap:20px;
    justify-content:center;
    margin:10px;
    height:100%;
}

.but{
    display:flex;
    justify-content:center;
    gap:15px;
}
.card:hover{
    transform: scale(1.05); 
    cursor: pointer;
}

.container{
    background-color: rgb(206, 208, 205);
}



    